name: Hello World workflow
on:
	push:
		branches:
			- main
	pull_request:
		branches:
			- main
	workflow_dispatch:

jobs:
	hello:
		runs-on: ubuntu-latest
			steps:
				- uses: actions/checkouts@v2
				- name: hello world
					run: echo "hello world:"
					shell: bash
	goodbye:
		runs-on: ubuntu-latest
		steps: 
			- name: Good Bye
				run: echo "Good bye"
				shell: bash
